<md-dialog class="md-dialog" aria-label="{{title}}">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{title}} &bull; {{subtitle}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ng-cloak>
    <div class="md-dialog-content">
     
        <!-- <md-datepicker ng-model="myDate" md-label="Pick Date"
            md-min-date="minDate" md-max-date="maxDate">
        </md-datepicker> -->
        <md-input-container class="md-block" flex-gt-sm required>
            <label>Name</label>
            <input ng-model="user.firstName">
            
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm required>
            <label>Email</label>
            <input ng-model="user.email">
           
        </md-input-container>

      <div ng-click="sendEmail(user.firstName, user.email, thismessage)" class="button">Book Appointment</div>

    </div>

  </md-dialog-content>

  
</md-dialog>