<section id="contact">
	<div class="content container">
		
		<form id="contact_form">

			<div id="contact_results">{{contact_results}}</div>
			<div class="row 50%">
				<div class="6u 12u$(small)"><input type="text" name="name" id="name" required="true" placeholder="Name" /></div>
				<div class="6u$ 12u$(small)"><input type="email" name="email" required="true" placeholder="Email" /></div>
			</div>
			<div class="row 50%">
				<div class="12u$"><textarea name="message" required="true" placeholder="Message" rows="6"></textarea></div>
			</div>
			<div class="row">
				<div class="12u$">
					<ul class="actions">
						<li><input type="button" id="submit_btn" value="Send Message" /></li>
					</ul>
				</div>
			</div>
		</form>

		
	</div>
</section>