md-input-container:not(.md-input-invalid).md-input-focused .md-input {

		border-color: #4676AA;
}
.md-calendar {
	width: auto !important;
}

	md-datepicker {
		padding-bottom: 10px;
	}

	.md-datepicker-input-container {
		visibility: hidden;
		max-width: 0px;
	}